.list-view{
    -fx-background-color: rgb(54, 53, 53);
}

list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: white;
    -fx-text-fill: white
}

.list-cell:odd {
    -fx-cell-hover-color: #0093ff;
    -fx-background-color: rgb(54, 53, 53);
}

.list-cell:even {
    -fx-cell-hover-color: #0093ff;
    -fx-background-color: rgb(54, 53, 53);
}

.list-cell:filled:hover {
    -fx-cell-hover-color: #0093ff;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #7a7c7d,#7a7c7d,#7a7c7d,#7a7c7d
}

.label{
    -fx-text-fill: rgb(248, 248, 248)
}